a {
	text-decoration: none;
}
.hidden {
  display: none;
}
#title_header {
  padding-left: 0px;
}
.inline-tbl {
  display: table-cell;
}
.inline-blk {
  display: inline-block;
  vertical-align: text-top;
}
#menu_style {
  list-style-type: none;
  margin: 0;
  padding: 0px 0px 0px 16px;
  overflow: hidden;
  background-color: #333333;
}
#menu_style li a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}
#menu_style li a:hover {
  background-color: orange;
  color: black;
}
#menu_style li {
  float: left;
}
#search-form {
text-align: right; 
}
#search-close {
}
#icons img {
  width:35px;
  height:35px;
  margin-right:0.5em;
  vertical-align: text-top;
}
#crazyscientist {
 	margin:10px;
}
.site-header {
} 
body {
	font-family: Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color: #111; /* колір шрифту*/
  background-color: white; /*колір тла*/
  margin: 0 auto;
  min-width: 930px;
}
.text_code {
  font:13.5px/1.4em monospace;
}
.aside-size {
  width:20%;
  padding:0px 16px 0px 0px;
}
.aside-size ul {
  margin:0px;
}
#text { 
	width:65%;
  padding:10px 30px;
  margin-bottom:5px;
}
.page_content {
  width:100%;
	/*padding: 10px 20px;
  margin: 20px 10px;*/
  min-height: calc(100vh - 70px);
}
.site_footer {
  margin: 0px;
  color: white;
}	
.footer-col {
  background-color: #333333;
  padding: 16px;
  text-align: center;
}